* {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    body {
        height: 100vh;
        padding-top: 120px;
      
    }

    .container {
        max-width: 1200px;
        margin: 0 auto;
    }

    #jumbotron {
        background-color: salmon;
        height: 250px;
    }

    li {
        list-style-type: none;
                a {
                text-decoration: none;
            }
    }