* {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    
    body {
        height: 100vh;
        background-color:rgb(28, 28, 28);
        color: #ffff;
        padding-top: 100px;
    }

    .container {
        max-width: 1200px;
        margin: 0 auto;
    }

    li {
        list-style-type: none;
                a {
                text-decoration: none;
            }
    }