* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  padding-top: 100px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

li {
  list-style-type: none;
}
li a {
  text-decoration: none;
}

header {
  background-color: white;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
header nav {
  height: 20px;
  background-color: #0282f9;
}

#products {
  background-color: #1c1c1c;
}

.container-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}