* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  padding-top: 120px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

#jumbotron {
  background-color: salmon;
  height: 250px;
}

li {
  list-style-type: none;
}
li a {
  text-decoration: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
header #top-nav {
  height: 20px;
  background-color: #0282f9;
}
header #bottom-nav {
  height: 100px;
  background-color: white;
}
header #bottom-nav #header-logo {
  width: 60px;
}
header #bottom-nav .row {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header #bottom-nav .row ul {
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
header #bottom-nav .row ul a {
  color: #1c1c1c;
  padding: 10px;
}
header #bottom-nav .row ul .fa-sort-down {
  color: #0282f9;
}
header #bottom-nav .row .icon-search {
  display: flex;
  justify-content: flex-end;
  border-bottom: 2px solid #0282f9;
  width: 120px;
  padding-bottom: 3px;
}
header #bottom-nav .row .icon-search i {
  margin-left: 5px;
}

#products {
  background-color: #1c1c1c;
}

.container-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}